<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Data SLA CO</h5>
            <p-table
                #dt1
                [value]="datacosla"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="[
                    'tanggal',
                    'noco',
                    'toko',
                    'masalah',
                    'ket',
                    'user'
                ]"
                [rowsPerPageOptions]="[10, 50, 100]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-plus"
                            class="mr-2"
                            pTooltip="Tambah Data"
                            tooltipPosition="bottom"
                        ></button>
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-excel"
                            (click)="exportExcel()"
                            class="p-button-success mr-2"
                            pTooltip="XLS"
                            tooltipPosition="bottom"
                        ></button>
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-pdf"
                            (click)="exportPdf()"
                            class="p-button-warning mr-2"
                            pTooltip="PDF"
                            tooltipPosition="bottom"
                        ></button>
                        <span class="p-input-icon-left mb-2 ml-auto">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="tanggal" style="min-width: 8rem">
                            Tanggal<p-sortIcon field="tanggal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="noco" style="min-width: 9rem">
                            No CO <p-sortIcon field="noco"></p-sortIcon>
                        </th>
                        <th pSortableColumn="toko" style="min-width: 5rem">
                            Toko <p-sortIcon field="toko"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ket" style="min-width: 20rem">
                            Keterangan<p-sortIcon field="ket"></p-sortIcon>
                        </th>
                        <th pSortableColumn="masalah" style="min-width: 25rem">
                            Masalah<p-sortIcon field="masalah"></p-sortIcon>
                        </th>
                        <th pSortableColumn="user" style="min-width: 20rem">
                            User<p-sortIcon field="user"></p-sortIcon>
                        </th>
                        <th pSortableColumn="takeit" style="min-width: 6rem">
                            TakeIT<p-sortIcon field="takeit"></p-sortIcon>
                        </th>
                        <th pSortableColumn="selesai" style="min-width: 6rem">
                            Selesai<p-sortIcon field="selesai"></p-sortIcon>
                        </th>
                        <th pSortableColumn="shift" style="min-width: 5rem">
                            Shift<p-sortIcon field="shift"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cosla>
                    <tr>
                        <td>
                            {{ cosla.tanggalco | date : "dd-MM-yyyy" }}
                        </td>
                        <td>
                            {{ cosla.noco }}
                        </td>
                        <td>
                            {{ cosla.kodetoko }}
                        </td>
                        <td>
                            {{ cosla.masalah }}
                        </td>
                        <td>
                            {{ cosla.keterangan }}
                        </td>

                        <td>
                            {{ cosla.user }}
                        </td>
                        <td>
                            {{ cosla.waktutakeit }}
                        </td>
                        <td>
                            {{ cosla.jamselesai }}
                        </td>
                        <td>
                            {{ cosla.shift }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
